############################
# IntelliJ
############################
.idea/
*.iml
*.iws

############################
# Maven
############################
target/

############################
# Logs
############################
*.log

############################
# Sistema Operativo
############################
.DS_Store
Thumbs.db
